<html>
<body>
  <form action="http://localhost:8099/create_user" method="POST">
    <h1>Create Account</h1>
      User Name: <input type="text" name="name"></br> 
      Password: <input type="password" name="password"></br> 
    <input type="submit" value="Create Account"></br> 
  </form>
</body>
</html>
