<html>
    <body>
        <h2>
        Restaurants Home Page </br>
        Hello  <%= name %> !
        </h2>
   
        <ul>
            <li>
                <a href="/restaurant/new">Post a new restaurant</a>
            </li>
            <li>
                <a href="/restaurant/list_all">List all restaurants</a>
            </li>
            <li>
                <a href="/restaurant/search">Search restaurants</a>
            </li>
        </ul>    

        <button type="button" onclick="location.href='/logout' ">Logout</button>
    </body>
</html>