<html>
    <body>
        <h2>
        Restaurants Home Page</br>
        Hello <%= name %>
        </h2>
   
        <ul>
            <li>
                <a href="/restaurants/new">Post a  new restaurant</a>
            </li>
            <li>
                <a href="/restaurants/list_all">List all restaurant</a>
            </li>
            <li>
                <a href="/restaurants/search">Search a restaurant</a>
            </li>
        </ul>    

        <button type="button" onclick="location.href='/logout' ">Logout</button>
    </body>
</html>