<html>
<body>
    <form action="http://localhost:8099/login" method="POST">
        <h1>Welcome </h1>
        <h2>Please Login</h2>
        User Name: <input type="text" name="name"></br> 
        Password: <input type="password" name="password"></br>
        <input type="submit" value="Login"></br>
        Not have an account?</br> 
        <button type="button" onclick="location.href='/create_user' ">Create new account.</button> 
    </form>
</body>
</html>