<html>
<body>
    <form action="http://localhost:8099/home" method="POST">
        Restaurants List</br>
        
    </form>
    <ul>
        <li>
            <a href="/restaurants/new">Post a  new restaurant</a>
        </li>
        <li>
            <a href="/restaurants/list_all">List all restaurant</a>
        </li>
        <li>
            <a href="/restaurants/find">Search a restaurant</a>
        </li>
    </ul>
    

    <button type="button" onclick="location.href='/logout' ">Logout</button>
</body>
</html>