<html>
<body>
    <h1>Delete restaurant</h1>
    <p>Confirm Delete:</p>
    <form method="POST">
      <input type="hidden" name="id" value="<%= id %>" />
      <input type="submit" value="Confirm"/>
    </form>
</body>
</html>

