<html>
<body>
  <h1>List Selected Restaurant/Search results (in JSON)</h1>
  
  <%= restaurant %>

  Options:
  <a href="/restaurant/rate?id=<%= restaurant._id %>">Rate</a>
  <a href="/restaurant/update?id=<%= restaurant._id %>">Update</a>
  <a href="/restaurant/delete?id=<%= restaurant._id %>">Delete</a>
</body>
</html>
