<html>
    <body>
        <form method="POST" id="newRestaurant" enctype="multipart/form-data">
            <h1>Add New Restaurants</h1>
            Name:   <input type="text" name="name" ></br> 
            Borough:<input type="text" name="borough" ></br>
            Cuisine:<input type="text" name="cuisine" ></br>
            </br>
            Adddress:</br>
            Building:<input type="text" name="building"></br>
            street:<input type="text" name="street""></br>            
            Zipcode:<input type="text" name="zipcode"></br>
            </br>
            Coord:</br>
            Latitude</br>
            <input type="text" name="coord_Lat"></br>
            Longitude</br>
            <input type="text" name="coord_Lon"></br>
            </br>
            Grades:</br>
            <input type="text" name="score"></br>
            Photo:</br>
            <input type="file" name="photoUpload"></br>

            <input type="submit" value="Submit New Restaurants"></br> 
            Insert sucess will redirect to homepage.
        </form>
    </body>
</html>
