<html>
    <body>
        <form method="POST">
            <h1>Search Restaurants<h1>
            <h2>Enter the Criterias:</h2>
            Name: <input type="text" name="name"></br>
            Borough: <input type="text" name="borough"></br>
            Cuisine: <input type="text" name="cuisine"></br>
            Owner<input type="text" name="owner"></br>
            <input type="submit" value="Search"></br> 
        </form>
        
    </body>
</html>
