<html>
    <body>
        <form method="POST">
            <input type="hidden" name="id" value="<%= id %>">
            <input type="input" name="score" placeholder="Enter score (0-10)"/></br>

            <input type="submit" value="Submit Rate"></br> 
        </form>
    </body>
</html>
