<html>
    <body>
        <form method="POST">
            <input type="input" name="name" placeholder="Enter Restaurant Name here~"/></br>
            <input type="submit" value="Search"></br> 
        </form>
    </body>
</html>
